// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #DD4027 !default;
$header-bg-color: #A2B0AD!default;
$header-bg-color-secondary: #A2B0AD !default;

// Text
$section-headings-color: #131313 !default;
$body-text-color: #606c71 !default;
$body-link-color: #DD4027 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
